/* work sans font */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');


/* shared styles */

*{
    font-family: 'Work Sans', sans-serif;
    /* margin: 0; */
}

.btn-primary{
    border-radius: 8px;
    background-color: rgb(255, 123, 7);
    padding: 20px 30px;
    color: wheat;
    font-size: 1.25rem; 
    cursor: pointer;
    border: 0;
    margin-bottom: 5px;
}



/* header styles */

header{
    background-color: bisque;
    padding: 50px 120px;
}

nav{
    display: flex;
    justify-content: space-between;
}

.nav-title{
    color: rgb(46, 42, 42);
    font-size: 2.8rem;
    font-weight: 700;
}

nav > ul{
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}


.banner img{
    /* height: 100%; */
    width: 100%;
}

.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    /* display: flex; */
}

.banner-title{
    font-weight: 700;
    font-size: 4rem;
    color: rgb(46, 42, 42);
}

.banner-description{
    color: gray;
}


/* mobile devices */

@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column ;
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    header{
        /* display: flex; */
        justify-content: center;
    }

    nav{
        flex-direction: column ;
    }
}